@import url("../../utils.css");

main {
  height: 100vh !important;
}

.movie-detail-section {
  /* width: 100vw; */
  height: calc(100vh - 3rem);
  /* overflow-x: hidden; */
  position: relative;
  z-index: 0;
}

.bg-image-wrapper {
  position: absolute;
  width: 75%;
  height: 100%;
  transform: translateX(50%);
  z-index: -2;
  left: 0;
}

.movie-details-bg {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: -1px;
  top: 0;
}

.normal-bg {
  background: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.movie-info-container-desktop {
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
  z-index: -2;
}

button.back-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.movie-info-container-desktop .title {
  font-size: 42px;
  font-weight: 500;
}

.movie-info-container-desktop .rating {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.movie-info-container-desktop .description {
  font-size: 20px;
  line-height: 30.4px;
  color: #ffffffb2;
  max-width: 35rem;
}

.movie-info-container-desktop .details {
  max-width: 25rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  margin-top: 2rem;
}

.movie-info-container-desktop .details .heading {
  font-size: 16px;
  font-weight: 400;
}
.movie-info-container-desktop .details .value {
  font-size: 16px;
  font-weight: 400;
}

img.mobile {
  display: none;
}

.movie-play-icon-wrapper-desktop {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: var(--rounded-full);
  overflow: hidden;
  top: calc(50% - (4rem / 2));
  left: calc(75% - (4rem / 2));
  cursor: pointer;
  z-index: 5;
  display: inline-block;
}
.movie-play-icon-wrapper-mobile {
  display: none;
}
@media only screen and (max-width: 640px) {
  .movie-play-icon-wrapper-desktop {
    display: none;
  }
  .movie-play-icon-wrapper-mobile {
    display: inline-block;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--rounded-full);
    overflow: hidden;
    top: calc(50% - (2.5rem / 2));
    left: calc(50% - (2.5rem / 2));
    cursor: pointer;
    z-index: 5;
  }
  main {
    height: auto;
  }
  .movie-detail-section {
    height: auto;
  }
  .bg-image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    transform: translateX(0%);
    z-index: 0;
    left: 0;
  }
  img.mobile {
    display: block;
  }
  img.desktop {
    display: none;
  }
  .movie-details-bg {
    display: none;
  }
  .normal-bg {
    display: none;
  }

  button.back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .movie-info-container-desktop {
    padding: 1rem;
  }
  .movie-info-container-desktop .title {
    font-size: 24px;
  }
  .movie-info-container-desktop .rating {
    font-size: 14px;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
  .movie-info-container-desktop .description {
    font-size: 14px;
    line-height: 24.32px;
  }
  .movie-info-container-desktop .details .heading {
    font-size: 12px;
    font-weight: 400;
  }
  .movie-info-container-desktop .details .value {
    font-size: 12px;
    font-weight: 400;
  }
  .movie-info-container-desktop .details {
    max-width: 25rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.25rem;
    margin-top: 1rem;
  }
}
